@charset "utf-8";
/* CSS Document */

header{
    padding:15px;
    color: white; 
    position:fixed;
    top:0;
    width:100%;
	z-index:10; 
}

.row{
    margin: 0;   
    
}

h1,h2,h3,h4{
  margin:0;  
}

#searchCity{
	padding: 10px 10px 0 10px;
    width: 320px;
    margin-bottom:0;
    background-color: rgb(242, 242, 242);      
    height: 100%;   
    position: fixed;
    z-index: 1;    
    overflow-x: hidden;    
    padding-top: 20px;
    top:78px;
}

